<ul style="list-style-type: none">
    <% for (const chatroom of chatrooms) { %>
      <li class="chatrooms-item">
        <%= chatroom.name %>
        <%= chatroom.authorId %>
        <a href="/join-chatroom/<%=chatroom.id%>">Join</a>
        <a href="/delete-chatroom/<%=chatroom.id%>">Delete</a>
      </li>
      <% } %>
  </ul>