<ul style="list-style-type: none">
    <% for (const message of messages) { %>
      <li class="messages-item
        <% if (message.authorId === userId) { %> own-message <% } %>">
        
        <p><%= message.text %></p>
        <%= message.author %>
        <%= message.cts.split(" ")[1] %>
        <a href="/delete-message/<%= message.id%>">Delete</a>
      </li>
      <% } %>
  </ul>




