<%- include("_header") %>

    <h1>Delete Confirmation</h1>
  <p>Are you sure you want to delete this chatroom?</p>
  <form action="/delete-chatroom/<%= chatroomId %>/confirmed" method="POST">
    <button type="submit">Delete</button>
    <a href="/">Cancel</a>
  </form>

<%- include("_footer") %>