<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul style="list-style-type: none">
        <% for (const message of messages) { %>
          <li class="messages-item">
            <%= message.text %>
            <%= message.authorId %>
          </li>
          <% } %>
      </ul>
        
</body>
</html>