<%- include("_header") %>

    


      <div id="chatrooms">
        <%- include("_chatrooms") %>
      </div>

      <form action="/create-chatroom" method="post">
        <input type="text" name="name">
        <input type="password" name="password">
        <button type="submit">Create</button>
      </form>


      <% if (user) { %>
        <%= user.username %>
        <a href="/logout">Log out</a>
    


        <div id="login-register">
          <% } else { %>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
            <% } %>
        </div>
        
<%- include("_footer") %>